<div class="container" ng-controller="playersController as players">
    <div class="row">
        <div class="col-md-12">


            <!-- without $scope - controller as -->
            <div class="row">

                <h1>CRUD Operations</h1>

                <!--leftcol-->
                <div class="col-md-7 margin-30">

                    <!-- Table - list players -->
                    <table class="table table-condensed table-hover">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Hand</th>
                            <th>Jersey #</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="player in players.playerlist">
                            <td>{{ player.name }}</td>
                            <td>{{ player.hand }}</td>
                            <td>{{ player.jerseynumber }}</td>
                            <td>Edit &nbsp; Delete</td>
                        </tr>
                        </tbody>
                    </table>

                </div><!--//end-leftcol-->


                <!--rightcol-->
                <div class="col-md-5 margin-30">

                    <!-- Form - add player to the list -->
                    <form ng-submit="players.addPlayer()" novalidate>
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" placeholder="Name" ng-model="players.playerData.name" ng-minlength="1" ng-maxlength="40" required>
                        </div>
                        <div class="form-group">
                            <label for="hand">Hand</label>
                            <select id="hand" class="form-control" ng-model="players.playerData.hand">
                                <option value="">-- choose hand --</option>
                                <option ng-repeat="hand in players.handoptions" value="{{hand.name}}">{{hand.value}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Jersey #</label>
                            <input type="number" class="form-control" placeholder="Jersey #" ng-model="players.playerData.jerseynumber" min="0" max="99" required>
                        </div>
                        <button type="submit" class="btn btn-default">Add Player</button>
                    </form>

                </div><!--//end-rightcol-->



            </div><!--//end-row-->

        </div><!--//end-col-md-12-->
    </div><!--//end-row-->
</div><!--//end-container-->