/* --------------------------------------------------
FONTS - remove this section if using different font, replace all references to proxima
-------------------------------------------------- */
/*proxima nova*/
@font-face {
    font-family: 'Proxima';
    font-weight: 400;
    src: url(../fonts/proximanova-regular-webfont.eot?1307578394);
    src: url('../fonts/proximanova-regular-webfont.eot?iefix') format('eot'), url(../fonts/proximanova-regular-webfont.woff?1307578394) format('woff'), url(../fonts/proximanova-regular-webfont.ttf?1307578394) format('truetype'), url('../fonts/proximanova-regular-webfont.svg#webfont2rpW2ohz') format('svg');
}
@font-face {
    font-family: 'Proxima';
    font-weight: 400;
    font-style: italic;
    src: url(../fonts/proximanova-regitalic-webfont.eot?1307578394);
    src: url('../fonts/proximanova-regitalic-webfont.eot?iefix') format('eot'), url(../fonts/proximanova-regitalic-webfont.woff?1307578394) format('woff'), url(../fonts/proximanova-regitalic-webfont.ttf?1307578394) format('truetype'), url('../fonts/proximanova-regitalic-webfont.svg#webfont2rpW2ohz') format('svg');
}
@font-face {
    font-family: 'Proxima';
    font-weight: 300;
    src: url(../fonts/proximanova-light-webfont.eot?1307578394);
    src: url('../fonts/proximanova-light-webfont.eot?iefix') format('eot'), url(../fonts/proximanova-light-webfont.woff?1307578394) format('woff'), url(../fonts/proximanova-light-webfont.ttf?1307578394) format('truetype'), url('../fonts/proximanova-light-webfont.svg#webfont2rpW2ohz') format('svg');
}
@font-face {
    font-family: 'Proxima';
    font-weight: 600;
    src: url(../fonts/proximanova-semibold-webfont.eot?1307578394);
    src: url('../fonts/proximanova-semibold-webfont.eot?iefix') format('eot'), url(../fonts/proximanova-semibold-webfont.woff?1307578394) format('woff'), url(../fonts/proximanova-semibold-webfont.ttf?1307578394) format('truetype'), url('../fonts/proximanova-semibold-webfont.svg#webfont2rpW2ohz') format('svg');
}
@font-face {
    font-family: 'Proxima';
    font-weight: 600;
    font-style: italic;
    src: url(../fonts/proximanova-semibolditalic-webfont.eot?1307578394);
    src: url('../fonts/proximanova-semibolditalic-webfont.eot?iefix') format('eot'), url(../fonts/proximanova-semibolditalic-webfont.woff?1307578394) format('woff'), url(../fonts/proximanova-semibolditalic-webfont.ttf?1307578394) format('truetype'), url('../fonts/proximanova-semibolditalic-webfont.svg#webfont2rpW2ohz') format('svg');
}
@font-face {
    font-family: 'Proxima';
    font-weight: 700;
    src: url(../fonts/proximanova-bold-webfont.eot?1307578394);
    src: url('../fonts/proximanova-bold-webfont.eot?iefix') format('eot'), url(../fonts/proximanova-bold-webfont.woff?1307578394) format('woff'), url(../fonts/proximanova-bold-webfont.ttf?1307578394) format('truetype'), url('../fonts/proximanova-bold-webfont.svg#webfont2rpW2ohz') format('svg');
}
@font-face {
    font-family: 'Proxima';
    font-weight: 700;
    font-style: italic;
    src: url(../fonts/proximanova-boldit-webfont.eot?1307578394);
    src: url('../fonts/proximanova-boldit-webfont.eot?iefix') format('eot'), url(../fonts/proximanova-boldit-webfont.woff?1307578394) format('woff'), url(../fonts/proximanova-boldit-webfont.ttf?1307578394) format('truetype'), url('../fonts/proximanova-boldit-webfont.svg#webfont2rpW2ohz') format('svg');
}
@font-face {
    font-family: 'Proxima';
    font-weight: 800;
    src: url(../fonts/proximanova-extrabold-webfont.eot?1307578394);
    src: url('../fonts/proximanova-extrabold-webfont.eot?iefix') format('eot'), url(../fonts/proximanova-extrabold-webfont.woff?1307578394) format('woff'), url(../fonts/proximanova-extrabold-webfont.ttf?1307578394) format('truetype'), url('../fonts/proximanova-extrabold-webfont.svg#webfont2rpW2ohz') format('svg');
}
/*.font-opensans { font-family: 'Open Sans', sans-serif !important; }*/
/*.font-ubuntu { font-family: 'Ubuntu', sans-serif !important; }*/
/*.font-montserrat { font-family: 'Montserrat', sans-serif !important; }*/
/*.font-proxima { font-family: 'Proxima', sans-serif !important; }*/
/*.font-lato { font-family: 'Lato', sans-serif !important; }*/

/*font shorties*/
.font-light { font-weight: 300; }
.font-reg { font-weight: 400; }
.font-semibold { font-weight: 600; }
.font-bold { font-weight: 700; }
.font-extrabold { font-weight: 800; }


/* --------------------------------------------------
LAYOUT
-------------------------------------------------- */

html { position: relative; height: 100%; }
body { height: 100%; padding: 0; font-family: 'Proxima', sans-serif; font-weight: 400; font-size: 14px; line-height: 1.53846153; text-rendering: optimizeLegibility; color: #333; }
/*main body*/
main {
    padding: 100px 0 0 0; /*padding-top is height of fixed nav*/
    min-height: 100%;
    height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
    height: 100%;
    margin: 0 auto -80px; /* the bottom margin is the negative value of the footer's height */
}
footer, .pushfooter { height: 80px; }
/*height of footer, needs .pushfooter inside body element*/

/*footer*/
footer { background-color: #f5f5f5; padding-top: 20px; }

/*breadcrumbs*/
.container-breadcumbs { background-color: transparent; padding: 0; margin: 10px 0 10px 0; }
.breadcrumb { padding: 0; margin-bottom: 0; list-style: none; background-color: transparent; border-radius: 0; font-size: 13px; }
.breadcrumb > li { display: inline-block; }
.breadcrumb > li + li:before { padding: 0 4px; color: #bbb; content: "/\00a0"; }
/* --------------------------------------------------
NAVBAR - line-height of 'ul' & 'ul > li > a' must match height of navbar
-------------------------------------------------- */
.navbar-site { background-color: #f5f6f8; width: 100%; z-index: 99; }
/*height set in @media rule below*/

.navbar-site .navbar-nav { line-height: 70px; }
/*match navbar-site height, half the height of logo's sprite*/

/*menu item*/
.navbar-site .navbar-nav > li > a { text-transform: uppercase; color: #2e3131; font-weight: 400; font-size: 14px; letter-spacing: 0.5px; line-height: 70px; }
/*match navbar-site height*/
/*menu hover*/
.navbar-site .navbar-nav > li > a:hover, .navbar-site .navbar-nav > li > a:focus { color: #3289c3; background: #e4e4e4; background: rgba(0, 0, 0, 0.06); }
/*menu with "active" class*/
.navbar-site .navbar-nav > .active > a { color: #3289c3; background: none; }
.navbar-site .navbar-nav > .active > a:hover, .navbar-site .navbar-nav > .active > a:focus { color: #3289c3; background: #e7e7e7; background: rgba(0, 0, 0, 0.04); }
/*mobile menu*/
.navbar-site .navbar-toggle { position: relative; float: right; padding: 9px 10px; margin-top: 17px; margin-right: 17px; margin-bottom: 8px; background-color: rgb(174, 176, 179); border: 1px solid transparent; border-radius: 4px; }
.navbar-site .navbar-toggle .icon-bar { display: block; width: 22px; height: 2px; border-radius: 1px; background-color: #fff; }
/*navbar when desktop view*/
@media (min-width: 768px) {
    .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse { margin-right: -15px; margin-left: -15px; }
    .navbar-site { height: 70px; }
    /* Navbar Height */
    .navbar-site .navbar-nav { float: right; margin: 0; }
    .navbar-site .navbar-nav > li > a { -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; padding: 0 22px; }
}
/*navbar logo sprite - height is 140px, light logo on top half - dark logo on bottom half*/
.logo { position: relative; float: left; height: 70px; overflow: hidden; margin: 0 0 0 12px; padding: 0; font-size: 18px; line-height: 20px; }
.logo img { position: relative; top: -70px; }
/*bottom half of sprite*/
.logo-ondark { position: relative; float: left; height: 70px; overflow: hidden; margin: 0px 0px 0px 12px; padding: 0; font-size: 18px; line-height: 20px; }
.logo-ondark img { position: relative; }



/* --------------------------------------------------
BOOTSTRAP
-------------------------------------------------- */
/*angular-bootstrap Fix*/
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
/*remove empty href attributes from directive templates*/

/*form errors*/
.form-group .help-block { display: none; }
.form-group.has-error .help-block {
    display: block;
    margin-top: 2px;
    font-size: 13px;
    margin-bottom: 10px;
}
.control-label sup { font-size: 17px; top: 0; color: #bd3e3c; opacity: 1; }
.has-success .control-label sup { opacity: 0; }

/*alerts*/
.alert { font-size: 14px; line-height: 1; padding: 12px 30px 11px 20px; margin-bottom: 15px; border: 0 solid transparent; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }
.alert > p, .alert > ul { margin-bottom: 0; }
.alert-success { color: #3c763d; background-color: #e3f0dd; border-color: #bfd8b8; }
.alert-success .alert-link { color: #2b542c; }
.alert-info { color: #31708f; background-color: #e1f0f8; border-color: #c0d6e7; }
.alert-info .alert-link { color: #245269; }
.alert-warning { color: #8a6d3b; background-color: #fcf8e3; border-color: #e9d9b7; }
.alert-warning .alert-link { color: #745c00; }
.alert-danger { color: #a94442; background-color: #f5e4e4; border-color: #f0c0c3; }
.alert-danger .alert-link { color: #843534; }
/*.alert.alert-dismissable { padding-right: 35px; }*/
.alert .close { float: right; font-size: 25px; padding: 0px 5px; margin-top: -3px; font-weight: bold; line-height: 1; color: inherit; background: rgba(0, 0, 0, 0.0); -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; text-shadow: 0 0 0 #fff; filter: alpha(opacity=100); opacity: 1; }
.alert .close:hover, .alert .close:focus { color: inherit; background: rgba(0, 0, 0, 0.1); text-decoration: none; cursor: pointer; filter: alpha(opacity=100); opacity: 1; outline: 0; }
.alert.alert-lg { font-size: 16px; padding: 15px 30px 12px 20px; }
.alert.alert-med { font-size: 14px; }
.alert.alert-sm { font-size: 12px; padding: 10px 28px 10px 17px; }
.alert.alert-sm .close { margin-top: -4px; }


/*forms*/
.form-group {
    margin-bottom: 10px;
}
/*label*/
label {
    display: inline-block;
    max-width: 100%;
    font-weight: 600;
    font-size: 12px;
    color: #000;
    margin-bottom: 4px;
    text-transform: uppercase;
}
label sup { font-size: 15px; top: 0; color: #999; }
/*form inputs*/
.form-control {
    display: block;
    width: 100%;
    height: auto;
    padding: 7px 10px 6px 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -moz-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .1);
    box-shadow: 0 0 3px rgba(0, 0, 0, .1);
}
.form-buttons { margin-top: 25px; }
/*input size defaults*/
.input-default { width: 100%; max-width: 100%; }
.input-number { max-width: 80px; }
.input-select { width: auto !important; }
/*loading spinner*/
.loading { color: #0070b5; }
.loading i { margin-right: 5px; }


/* --------------------------------------------------
ELEMENTS [global]
-------------------------------------------------- */
/*text*/
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family: 'Proxima', sans-serif; font-weight: 600; line-height: 1.1; color: inherit; margin: 0 0 15px 0; }
h1 { color: #333b42; font-size: 28px; margin-bottom: 25px; }
h2 { color: #3f4549; font-size: 24px; margin-bottom: 20px; }
h3 { color: #3f4549; font-size: 20px; margin-bottom: 20px; }
h4 { color: #3f4549; font-size: 18px; margin-bottom: 15px; }

p { margin: 0 0 25px 0; line-height: 21px; }
.lead { margin-bottom: 20px; font-size: 21px; font-weight: 300; line-height: 1.4; }

/*autowidth*/
.widthauto { width: auto !important; }

/*links*/
a { color: #3289C3; text-decoration: none; -webkit-transition: color 0.2s ease-out, background-color 0.2s ease-out; -moz-transition: color 0.2s ease-out, background-color 0.2s ease-out; -ms-transition: color 0.2s ease-out, background-color 0.2s ease-out; -o-transition: color 0.2s ease-out, background-color 0.2s ease-out; transition: color 0.2s ease-out, background-color 0.2s ease-out; }
/*darker=016EB6, lighter=197AB1*/
a:hover, a:focus { color: #2a6496; text-decoration: underline; }

a.external { }
a.external:after { display: inline-block; font-family: FontAwesome; font-weight: normal; font-size: 12px; text-decoration: none; content: "\f08e"; color: #ccc; margin-left: 6px; position: relative; top: 1px; }
/*f08e, f14c*/
a.external:hover:after { color: #999; }

/*shorties*/
.uppercase { text-transform: uppercase; }

.font-10px { font-size: 10px; }
.font-11px { font-size: 11px; }
.font-12px { font-size: 12px; }
.font-13px { font-size: 13px; }
.font-14px { font-size: 14px; }
.font-15px { font-size: 15px; }
.font-16px { font-size: 16px; }
.font-17px { font-size: 17px; }
.font-18px { font-size: 18px; }
.font-19px { font-size: 19px; }
.font-20px { font-size: 20px; }
.font-21px { font-size: 21px; }
.font-22px { font-size: 22px; }
.font-23px { font-size: 23px; }
.font-24px { font-size: 24px; }
.font-25px { font-size: 25px; }


.color-black { color: #000; }
.color-dark { color: #444; }
.color-light { color: #aaa; }
.color-white { color: #fff; }

.lheight-12px { line-height: 12px; }
.lheight-13px { line-height: 13px; }
.lheight-14px { line-height: 14px; }
.lheight-15px { line-height: 15px; }
.lheight-16px { line-height: 16px; }
.lheight-17px { line-height: 17px; }
.lheight-18px { line-height: 18px; }
.lheight-19px { line-height: 19px; }
.lheight-20px { line-height: 20px; }
.lheight-21px { line-height: 21px; }
.lheight-22px { line-height: 22px; }

hr { border: 0; border-top: 1px solid #C8CACF; margin-top: 20px; margin-bottom: 20px; }
.hr-sm { margin-top: 10px; margin-bottom: 10px; }
.hr-md { margin-top: 20px; margin-bottom: 20px; }
.hr-lg { margin-top: 30px; margin-bottom: 30px; }
.hr-xl { margin-top: 40px; margin-bottom: 40px; }

/*margin presets*/
.marginb-0 { margin-bottom: 0px; }
.marginb-5 { margin-bottom: 5px; }
.marginb-10 { margin-bottom: 10px; }
.marginb-15 { margin-bottom: 15px; }
.marginb-20 { margin-bottom: 20px; }
.marginb-25 { margin-bottom: 25px; }
.marginb-30 { margin-bottom: 30px; }
.marginb-35 { margin-bottom: 35px; }
.marginb-40 { margin-bottom: 40px; }
.marginb-45 { margin-bottom: 45px; }
.marginb-50 { margin-bottom: 50px; }
.margint-5 { margin-top: 5px; }
.margint-10 { margin-top: 10px; }
.margint-15 { margin-top: 15px; }
.margint-20 { margin-top: 20px; }
.margint-25 { margin-top: 25px; }
.margint-30 { margin-top: 30px; }
.margint-35 { margin-top: 35px; }
.margint-40 { margin-top: 40px; }
.margint-45 { margin-top: 45px; }
.margint-50 { margin-top: 50px; }
.marginr-5 { margin-right: 5px; }
.marginr-10 { margin-right: 10px; }
.marginr-15 { margin-right: 15px; }
.marginr-20 { margin-right: 20px; }
.marginr-25 { margin-right: 25px; }
.marginr-30 { margin-right: 30px; }

/*padding for responsive cols*/
.colpad { padding-bottom: 30px; }
.colpad-5 { padding-bottom: 5px; }
.colpad-10 { padding-bottom: 10px; }
.colpad-15 { padding-bottom: 15px; }
.colpad-20 { padding-bottom: 20px; }
.colpad-30 { padding-bottom: 30px; }
.colpad-40 { padding-bottom: 40px; }
.colpad-50 { padding-bottom: 50px; }

/*opacity*/
.opacity0 { opacity: 0; }
.opacity10 { opacity: 0.1; }
.opacity20 { opacity: 0.2; }
.opacity30 { opacity: 0.3; }
.opacity40 { opacity: 0.4; }
.opacity50 { opacity: 0.5; }
.opacity60 { opacity: 0.6; }
.opacity70 { opacity: 0.7; }
.opacity80 { opacity: 0.8; }
.opacity90 { opacity: 0.9; }
.opacity100 { opacity: 1.0; }

/*css3 vertical align*/
.vertical-align { position: relative; top: 50.1%; -webkit-transform: translateY(-50.1%); -ms-transform: translateY(-50.1%); -moz-transform: translateY(-50.1%); -o-transform: translateY(-50.1%); transform: translateY(-50.1%); }
/*if blurry, add .parent-element { -webkit-transform-style: preserve-3d; -moz-transform-style: preserve-3d; transform-style: preserve-3d; } */

.img-zoom { -webkit-transition: all .2s ease-in-out; -moz-transition: all .2s ease-in-out; -o-transition: all .2s ease-in-out; transition: all .2s ease-in-out; }
.img-zoom.transition { -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -o-transform: scale(1.1); -ms-transform: scale(1.1); transform: scale(1.1); -webkit-transition-timing-function: ease-out; -moz-transition-timing-function: ease-out; -o-transition-timing-function: ease-out; transition-timing-function: ease-out; -webkit-transition-duration: 300ms; -moz-transition-duration: 300ms; -o-transition-duration: 300ms; transition-duration: 300ms; }
/* --------------------------------------------------
BUTTONS [global]
-------------------------------------------------- */

.btn { text-transform: uppercase; font-weight: 400; border: 0; font-size: 13px; padding: 10px 24px 10px 24px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; color: #686868; background: #dadde0; -webkit-transition: background .1s ease-in-out, color .1s ease-in-out, border .1s ease-in-out; -moz-transition: background .1s ease-in-out, color .1s ease-in-out, border .1s ease-in-out; -ms-transition: background .1s ease-in-out, color .1s ease-in-out, border .1s ease-in-out; -o-transition: background .1s ease-in-out, color .1s ease-in-out, border .1s ease-in-out; transition: background .1s ease-in-out, color .1s ease-in-out, border .1s ease-in-out; }
.btn:hover, .btn:focus, .btn:active { color: #000; background: #d0d4d8; }
.btn-xs, .btn-group-xs > .btn { font-size: 11px; padding: 4px 13px 5px 13px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
.btn-sm, .btn-group-sm > .btn { font-size: 13px; padding: 7px 17px 7px 17px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
.btn-md, .btn-group-md > .btn { font-size: 15px; padding: 11px 25px 11px 25px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
.btn-lg, .btn-group-lg > .btn { font-size: 17px; padding: 13px 28px 14px 28px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
.btn-bold { font-weight: 500; }
.btnnew.btnnew-disabled { }
.btn-action { letter-spacing: .3px; font-size: 13px; padding: 10px 20px 10px 20px; }
.btn-clear { letter-spacing: .3px; font-size: 13px; padding: 7px 15px 7px 15px; }
.btn-clearblue { color: #fff; background: transparent; border: 2px solid rgba(255, 255, 255, 0.40); }
.btn-clearblue:hover, .btn-clearblue:focus, .btn-clearblue:active { color: #fff; background: #247bc5; border: 2px solid #247bc5; }
.close { -webkit-appearance: none; padding: 0; cursor: pointer; background: transparent; border: 0; }
.btn-green { color: #fff; background: #5dad70; }
.btn-green:hover, .btn-green:focus, .btn-green:active { color: #fff; background: #1a8f36; }
.btn-orange { color: #fff; background: #f78647; }
.btn-orange:hover, .btn-orange:focus, .btn-orange:active { color: #fff; background: #ff5e12; }
.btn-blue { color: #fff; background: #428bca; }
.btn-blue:hover, .btn-blue:focus, .btn-blue:active { color: #fff; background: #247bc5; }
.btn-lightblue { color: #333; background: #99bfe0; }
.btn-lightblue:hover, .btn-lightblue:focus, .btn-lightblue:active { color: #000; background: #598ab5; }
.btn-darkblue { color: #fff; background: #4d6e8a; }
.btn-darkblue:hover, .btn-darkblue:focus, .btn-darkblue:active { color: #fff; background: #3b556b; }
.btn-grey { color: #686868; background: #dadde0; }
.btn-grey:hover, .btn-grey:focus, .btn-grey:active { color: #000; background: #d0d4d8; }
.btn-darkgrey { color: #ddd; background: #777; }
.btn-darkgrey:hover, .btn-darkgrey:focus, .btn-darkgrey:active { color: #fff; background: #666; }
.btn-red { color: #fff; background: #b94a48; }
.btn-red:hover, .btn-red:focus, .btn-red:active { color: #fff; background: #8a312f; }
.btn-label { text-transform: none !important; margin-left: 4px; font-size: 12px; color: rgba(255, 255, 255, 0.7); }
/*back button*/
.btn-back { font-size: 13px; padding: 8px 18px 8px 18px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; line-height: 1.5; }
.btn-back:before { font-family: FontAwesome; font-weight: normal; content: "\f053"; position: relative; top: 1px; left: -8px; opacity: 0.5; }
/*f053*/
.btn-back:hover:before { opacity: 0.8; }
/*header action submit*/
.btn-header { font-size: 12px; padding: 8px 18px 8px 18px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; line-height: 1.5; margin-right: 15px; }
/*select files (upload)*/
.btn-selectfiles { text-transform: none !important; font-size: 12px; padding: 8px 13px 7px 19px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; color: #fff; background: #6e9ec4; height: auto !important; width: auto !important; line-height: 1.5 !important; }
.btn-selectfiles:before { font-family: FontAwesome; font-weight: normal; content: "\f067"; position: relative; top: 1px; left: -8px; opacity: 0.5; }
/*f067*/
.uploadify:hover .btn-selectfiles { color: #fff; background: #588bb2; }
.uploadify:hover .btn-selectfiles:before { opacity: 0.8; }
/*icon buttons*/
.btn-ico { -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; font-size: 14px; padding: 3px 12px 4px 12px; color: rgba(0, 0, 0, 0.7); background: rgba(213, 216, 219, .4); }
.btn-ico:hover, .btn-ico:focus, .btn-ico:active { color: rgba(0, 0, 0, 1); background: rgba(140, 173, 207, 1); color: #fff; }
.btn-ico:after { font-family: FontAwesome; font-weight: normal; content: "\f040"; position: relative; top: 0; }
.btn-ico.icoedit:after { content: "\f040"; }
.btn-ico.icodelete:after { content: "\f1f8"; }
.btn-ico.icorefresh:after { content: "\f01e"; }
/*arrow toggler*/
.btn-toggleresults { background: rgba(0, 0, 0, .1); color: #000; font-size: 12px; padding: 5px 9px 5px 9px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; position: absolute; top: 17px; right: 15px; margin-bottom: 0; }
.btn-toggleresults:hover, .btn-toggleresults:focus, .btn-toggleresults:active { color: #000; background: #fff; }
/*misc buttons*/
.btn-ico.redbg { background: #f1e2e2; color: #a94442; }
.btndemo p { margin-bottom: 5px; font-size: 12px; }
.btndemo .btn { margin-right: 10px; }
/*icon buttons*/
.ico-copy { display: inline-block; background: url('/img/icon/copy.png'); width: 16px; height: 16px; opacity: 0.4; }
.ico-copy:hover { opacity: 0.8; }
.faicon-outer { }
.faicon-copy { width: 18px; height: 18px; text-align: center; font-size: 12px !important; margin-left: 5px; color: #000; opacity: .5; padding: 0; }
.faicon-copy.hover { opacity: 0.9; }
.faicon-outer .zclip embed { position: relative; top: -4px; }
/*bg colors for hover*/
.hover-blue { background: #e2eaf1 !important; border-color: #cad3db !important; }
.hover-red { background-color: #f1e2e2 !important; border-color: #ecc1c1 !important; }
/*hide delete button when hovering on edit action*/
/*.hover-blue .icodelete { opacity:0; }*/

/*hide edit button when hovering on delete action*/
.hover-red .icoedit { opacity: 0; }
/* --------------------------------------------------
TABLES [global]
-------------------------------------------------- */

/* Grid */
.mGrid { /*width: 100%;*/ background-color: #fff; margin: 0; border: 0; border-collapse: collapse; min-width: 550px; }
/*headers*/
.mGrid th { min-width: 80px; padding: 10px 10px 9px 15px; color: #666; background: #eeeff0; border-right: 1px solid #fff; text-align: left; font-size: 13px; font-weight: 700; text-decoration: none; }
.mGrid th.header { cursor: pointer; }
.mGrid th.header:hover { background-color: #dddfe2; color: #222; cursor: pointer; }
.mGrid th:last-child { border-right: 0; }
.mGrid th.header:after { font-family: FontAwesome; font-weight: normal; float: right; content: "\f0dc"; color: #ccc; position: relative; top: 2px; }
/*default inactive sort column*/
.mGrid th.header:hover:after { color: #888; }
.mGrid th.header.headerSortDown:after { content: "\f0de"; color: #666; position: relative; top: 5px; }
/*active sort column asc*/
.mGrid th.header.headerSortUp:after { content: "\f0dd"; color: #666; position: relative; top: -1px; }
/*active sort column desc*/
.mGrid th.headerSortUp, .mGrid th.headerSortDown { background-color: #dddfe2; color: #000; }
/*active sort column*/
/*.mGrid th.headerSortUp:hover, .mGrid th.headerSortDown:hover { background-color: #b5bfcc; color: #000; }*/
/*active sort column hover*/
.mGrid tr { background: #fff; }
/*.mGrid tr:hover td  { background-color: #edf1f5; }*/
.mGrid tr:nth-child(even) { background: #fafafa; }
/*#f9f9f9;*/
.mGrid td { padding: 7px 8px 6px 16px; border: 0; border-bottom: 0 solid #f0f0f0; font-size: 13px; color: #333; line-height: 15px; }
.mGrid tr:last-child td { border-bottom: 0; }
.mGrid .alt { background: none; }
.mGrid .light { color: #666; font-style: italic; }
.mGrid .pgr { background: #424242 url(/img/gridview/grd_pgr.png) repeat-x top; }
.mGrid .pgr table { margin: 5px 0; }
.mGrid .pgr td { border-width: 0; padding: 0 6px; border-left: solid 0 #666; font-weight: 600; color: #fff; line-height: 12px; }
.mGrid .pgr a { color: #666; text-decoration: none; }
.mGrid .pgr a:hover { color: #000; text-decoration: none; }
/* Grid - Actions */
.mGrid td.actions { text-align: center; padding-left: 2px; padding-right: 2px; }
.mGrid td.actions a:first-child { margin-right: 20px; }
.mGrid.mGrid-small td.editlink { padding-left: 0; padding-right: 0; }
/*Grid Smaller - Less Padding*/
.mGrid.grid-small { }
.mGrid.grid-small td { padding: 5px 8px 5px 16px; }
.mGrid.grid-small tr:first-child td { }

