/* --------------------------------------------------
FONTS
-------------------------------------------------- */
/*proxima nova - site licened*/
@font-face {
    font-family: 'Proxima';
    font-weight: 400;
    src: url(../fonts/proximanova-regular-webfont.eot?1307578394);
    src: url('../fonts/proximanova-regular-webfont.eot?iefix') format('eot'), url(../fonts/proximanova-regular-webfont.woff?1307578394) format('woff'), url(../fonts/proximanova-regular-webfont.ttf?1307578394) format('truetype'), url('../fonts/proximanova-regular-webfont.svg#webfont2rpW2ohz') format('svg');
}
@font-face {
    font-family: 'Proxima';
    font-weight: 400;
    font-style: italic;
    src: url(../fonts/proximanova-regitalic-webfont.eot?1307578394);
    src: url('../fonts/proximanova-regitalic-webfont.eot?iefix') format('eot'), url(../fonts/proximanova-regitalic-webfont.woff?1307578394) format('woff'), url(../fonts/proximanova-regitalic-webfont.ttf?1307578394) format('truetype'), url('../fonts/proximanova-regitalic-webfont.svg#webfont2rpW2ohz') format('svg');
}
@font-face {
    font-family: 'Proxima';
    font-weight: 300;
    src: url(../fonts/proximanova-light-webfont.eot?1307578394);
    src: url('../fonts/proximanova-light-webfont.eot?iefix') format('eot'), url(../fonts/proximanova-light-webfont.woff?1307578394) format('woff'), url(../fonts/proximanova-light-webfont.ttf?1307578394) format('truetype'), url('../fonts/proximanova-light-webfont.svg#webfont2rpW2ohz') format('svg');
}
@font-face {
    font-family: 'Proxima';
    font-weight: 600;
    src: url(../fonts/proximanova-semibold-webfont.eot?1307578394);
    src: url('../fonts/proximanova-semibold-webfont.eot?iefix') format('eot'), url(../fonts/proximanova-semibold-webfont.woff?1307578394) format('woff'), url(../fonts/proximanova-semibold-webfont.ttf?1307578394) format('truetype'), url('../fonts/proximanova-semibold-webfont.svg#webfont2rpW2ohz') format('svg');
}
@font-face {
    font-family: 'Proxima';
    font-weight: 600;
    font-style: italic;
    src: url(../fonts/proximanova-semibolditalic-webfont.eot?1307578394);
    src: url('../fonts/proximanova-semibolditalic-webfont.eot?iefix') format('eot'), url(../fonts/proximanova-semibolditalic-webfont.woff?1307578394) format('woff'), url(../fonts/proximanova-semibolditalic-webfont.ttf?1307578394) format('truetype'), url('../fonts/proximanova-semibolditalic-webfont.svg#webfont2rpW2ohz') format('svg');
}
@font-face {
    font-family: 'Proxima';
    font-weight: 700;
    src: url(../fonts/proximanova-bold-webfont.eot?1307578394);
    src: url('../fonts/proximanova-bold-webfont.eot?iefix') format('eot'), url(../fonts/proximanova-bold-webfont.woff?1307578394) format('woff'), url(../fonts/proximanova-bold-webfont.ttf?1307578394) format('truetype'), url('../fonts/proximanova-bold-webfont.svg#webfont2rpW2ohz') format('svg');
}
@font-face {
    font-family: 'Proxima';
    font-weight: 700;
    font-style: italic;
    src: url(../fonts/proximanova-boldit-webfont.eot?1307578394);
    src: url('../fonts/proximanova-boldit-webfont.eot?iefix') format('eot'), url(../fonts/proximanova-boldit-webfont.woff?1307578394) format('woff'), url(../fonts/proximanova-boldit-webfont.ttf?1307578394) format('truetype'), url('../fonts/proximanova-boldit-webfont.svg#webfont2rpW2ohz') format('svg');
}
@font-face {
    font-family: 'Proxima';
    font-weight: 800;
    src: url(../fonts/proximanova-extrabold-webfont.eot?1307578394);
    src: url('../fonts/proximanova-extrabold-webfont.eot?iefix') format('eot'), url(../fonts/proximanova-extrabold-webfont.woff?1307578394) format('woff'), url(../fonts/proximanova-extrabold-webfont.ttf?1307578394) format('truetype'), url('../fonts/proximanova-extrabold-webfont.svg#webfont2rpW2ohz') format('svg');
}
/*.font-opensans { font-family: 'Open Sans', sans-serif !important; }*/
/*.font-ubuntu { font-family: 'Ubuntu', sans-serif !important; }*/
/*.font-montserrat { font-family: 'Montserrat', sans-serif !important; }*/
/*.font-proxima { font-family: 'Proxima', sans-serif !important; }*/
/*.font-lato { font-family: 'Lato', sans-serif !important; }*/

.font-light { font-weight: 300; }
.font-reg { font-weight: 400; }
.font-semibold { font-weight: 600; }
.font-bold { font-weight: 700; }
.font-extrabold { font-weight: 800; }


/* --------------------------------------------------
LAYOUT
-------------------------------------------------- */

html { position: relative; height: 100%; }
body { height: 100%; padding: 0; /* bottom = footer height */ font-family: 'Proxima', sans-serif; font-weight: 400; font-size: 14px; line-height: 1.53846153; text-rendering: optimizeLegibility; color: #333; }
body main { padding: 100px 0 0 0; margin: 0 0 100px; }
/*.footer { position: absolute; bottom: 0; width: 100%; height: 70px; background-color: #f5f5f5; }*/
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color: #f5f5f5;
}
.footer-container { margin-top: 15px; margin-bottom: 15px; }

/*breadcrumbs*/
.container-breadcumbs { background-color: transparent; padding: 0; margin: 10px 0 10px 0; }
.breadcrumb { padding: 0; margin-bottom: 0; list-style: none; background-color: transparent; border-radius: 0; font-size: 13px; }
.breadcrumb > li { display: inline-block; }
.breadcrumb > li + li:before { padding: 0 4px; color: #bbb; content: "/\00a0"; }




/* --------------------------------------------------
BOOTSTRAP
-------------------------------------------------- */
/*Angular-Bootstrap Fix*/
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
/*remove empty href attributes from directive templates*/

/*form errors*/
.form-group .help-block { display: none; }
.form-group.has-error .help-block {
    display: block;
    margin-top: 2px;
    font-size: 13px;
    margin-bottom: 10px;
}
.control-label sup { font-size: 17px; top: 0; color: #bd3e3c; opacity: 1; }
.has-success .control-label sup { opacity: 0; }

/*alerts*/
.alert { padding: 12px 20px 12px 20px; font-size: 15px; margin-bottom: 20px; border: 1px solid transparent; border-radius: 3px; }
.alert.alert-dismissable { padding-right: 35px; }
.alert .close { opacity: 0.5; font-size: 27px; }

/*forms*/
.form-group {
    margin-bottom: 10px;
}
label {
    display: inline-block;
    margin-bottom: 2px;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
}
.form-control {
    display: block;
    width: 100%;
    height: 32px;
    padding: 6px 12px;
    font-size: 14px;
    /*line-height: 1.428571429;*/
    line-height: 1.53846153;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-buttons { margin-top: 25px; }
/*input size defaults*/
.input-default { width: 100%; max-width: 100%; }
.input-number { max-width: 80px; }
.input-select { width: auto !important; }


/* --------------------------------------------------
ELEMENTS [global]
-------------------------------------------------- */
/*text*/
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family: 'Proxima', sans-serif; font-weight: 600; line-height: 1.1; color: inherit; margin: 0 0 15px 0; }
h1 { color: #333b42; font-size: 28px; margin-bottom: 25px; }
h2 { color: #3f4549; font-size: 24px; margin-bottom: 20px; }
h3 { color: #3f4549; font-size: 20px; margin-bottom: 20px; }
h4 { color: #3f4549; font-size: 18px; margin-bottom: 15px; }

p { margin: 0 0 25px 0; line-height: 21px; }
.lead { margin-bottom: 20px; font-size: 21px; font-weight: 300; line-height: 1.4; }

/*autowidth*/
.widthauto { width: auto !important; }

/*links*/
a { color: #3289C3; text-decoration: none; -webkit-transition: color 0.2s ease-out, background-color 0.2s ease-out; -moz-transition: color 0.2s ease-out, background-color 0.2s ease-out; -ms-transition: color 0.2s ease-out, background-color 0.2s ease-out; -o-transition: color 0.2s ease-out, background-color 0.2s ease-out; transition: color 0.2s ease-out, background-color 0.2s ease-out; }
/*darker=016EB6, lighter=197AB1*/
a:hover, a:focus { color: #2a6496; text-decoration: underline; }

a.external { }
a.external:after { display: inline-block; font-family: FontAwesome; font-weight: normal; font-size: 12px; text-decoration: none; content: "\f08e"; color: #ccc; margin-left: 6px; position: relative; top: 1px; }
/*f08e, f14c*/
a.external:hover:after { color: #999; }

/*shorties*/
.uppercase { text-transform: uppercase; }

.font-10px { font-size: 10px; }
.font-11px { font-size: 11px; }
.font-12px { font-size: 12px; }
.font-13px { font-size: 13px; }
.font-14px { font-size: 14px; }
.font-15px { font-size: 15px; }
.font-16px { font-size: 16px; }
.font-17px { font-size: 17px; }
.font-18px { font-size: 18px; }
.font-19px { font-size: 19px; }
.font-20px { font-size: 20px; }
.font-21px { font-size: 21px; }
.font-22px { font-size: 22px; }
.font-23px { font-size: 23px; }
.font-24px { font-size: 24px; }
.font-25px { font-size: 25px; }


.color-black { color: #000; }
.color-dark { color: #444; }
.color-light { color: #aaa; }
.color-white { color: #fff; }

.lheight-12px { line-height: 12px; }
.lheight-13px { line-height: 13px; }
.lheight-14px { line-height: 14px; }
.lheight-15px { line-height: 15px; }
.lheight-16px { line-height: 16px; }
.lheight-17px { line-height: 17px; }
.lheight-18px { line-height: 18px; }
.lheight-19px { line-height: 19px; }
.lheight-20px { line-height: 20px; }
.lheight-21px { line-height: 21px; }
.lheight-22px { line-height: 22px; }

hr { border: 0; border-top: 1px solid #C8CACF; margin-top: 20px; margin-bottom: 20px; }
.hr-sm { margin-top: 10px; margin-bottom: 10px; }
.hr-md { margin-top: 20px; margin-bottom: 20px; }
.hr-lg { margin-top: 30px; margin-bottom: 30px; }
.hr-xl { margin-top: 40px; margin-bottom: 40px; }

/*margin presets*/
.marginb-0 { margin-bottom: 0px; }
.marginb-5 { margin-bottom: 5px; }
.marginb-10 { margin-bottom: 10px; }
.marginb-15 { margin-bottom: 15px; }
.marginb-20 { margin-bottom: 20px; }
.marginb-25 { margin-bottom: 25px; }
.marginb-30 { margin-bottom: 30px; }
.marginb-35 { margin-bottom: 35px; }
.marginb-40 { margin-bottom: 40px; }
.marginb-45 { margin-bottom: 45px; }
.marginb-50 { margin-bottom: 50px; }
.margint-5 { margin-top: 5px; }
.margint-10 { margin-top: 10px; }
.margint-15 { margin-top: 15px; }
.margint-20 { margin-top: 20px; }
.margint-25 { margin-top: 25px; }
.margint-30 { margin-top: 30px; }
.margint-35 { margin-top: 35px; }
.margint-40 { margin-top: 40px; }
.margint-45 { margin-top: 45px; }
.margint-50 { margin-top: 50px; }
.marginr-5 { margin-right: 5px; }
.marginr-10 { margin-right: 10px; }
.marginr-15 { margin-right: 15px; }
.marginr-20 { margin-right: 20px; }
.marginr-25 { margin-right: 25px; }
.marginr-30 { margin-right: 30px; }

/*padding for responsive cols*/
.colpad { padding-bottom: 30px; }
.colpad-5 { padding-bottom: 5px; }
.colpad-10 { padding-bottom: 10px; }
.colpad-15 { padding-bottom: 15px; }
.colpad-20 { padding-bottom: 20px; }
.colpad-30 { padding-bottom: 30px; }
.colpad-40 { padding-bottom: 40px; }
.colpad-50 { padding-bottom: 50px; }

/*opacity*/
.opacity0 { opacity: 0; }
.opacity10 { opacity: 0.1; }
.opacity20 { opacity: 0.2; }
.opacity30 { opacity: 0.3; }
.opacity40 { opacity: 0.4; }
.opacity50 { opacity: 0.5; }
.opacity60 { opacity: 0.6; }
.opacity70 { opacity: 0.7; }
.opacity80 { opacity: 0.8; }
.opacity90 { opacity: 0.9; }
.opacity100 { opacity: 1.0; }

/*bg colors for jquery hover*/
.hover-blue { background: #E2EAF1 !important; border-color: #CAD3DB !important; }
.hover-red { background-color: #F1E2E2 !important; border-color: #ECC1C1 !important; }

/*css3 vertical align*/
.vertical-align { position: relative; top: 50.1%; -webkit-transform: translateY(-50.1%); -ms-transform: translateY(-50.1%); -moz-transform: translateY(-50.1%); -o-transform: translateY(-50.1%); transform: translateY(-50.1%); }
/*if blurry, add .parent-element { -webkit-transform-style: preserve-3d; -moz-transform-style: preserve-3d; transform-style: preserve-3d; } */

.img-zoom { -webkit-transition: all .2s ease-in-out; -moz-transition: all .2s ease-in-out; -o-transition: all .2s ease-in-out; transition: all .2s ease-in-out; }
.img-zoom.transition { -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -o-transform: scale(1.1); -ms-transform: scale(1.1); transform: scale(1.1); -webkit-transition-timing-function: ease-out; -moz-transition-timing-function: ease-out; -o-transition-timing-function: ease-out; transition-timing-function: ease-out; -webkit-transition-duration: 300ms; -moz-transition-duration: 300ms; -o-transition-duration: 300ms; transition-duration: 300ms; }
/* --------------------------------------------------
BUTTONS [global]
-------------------------------------------------- */

/*.btn { font-family: 'Ubuntu', sans-serif; text-transform: uppercase; font-weight: 400; border: 0; font-size: 13px; padding: 10px 30px 11px 30px; border-radius: 3px; color: #686868; background: #dadde0; -webkit-transition: background 0.2s ease-in-out; -moz-transition: background 0.2s ease-in-out; -ms-transition: background 0.2s ease-in-out; -o-transition: background 0.2s ease-in-out; transition: background 0.2s ease-in-out; }*/
.btn { text-transform: uppercase; font-weight: 400; border: 0; font-size: 13px; padding: 10px 24px 10px 24px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; color: #686868; background: #dadde0; -webkit-transition: background .2s ease-in-out, color .2s ease-in-out, border .2s ease-in-out; -moz-transition: background .2s ease-in-out, color .2s ease-in-out, border .2s ease-in-out; -ms-transition: background .2s ease-in-out, color .2s ease-in-out, border .2s ease-in-out; -o-transition: background .2s ease-in-out, color .2s ease-in-out, border .2s ease-in-out; transition: background .2s ease-in-out, color .2s ease-in-out, border .2s ease-in-out; }
.btn:hover, .btn:focus, .btn:active { color: #000; background: #d0d4d8; }
.btn-xs, .btn-group-xs > .btn { font-size: 11px; padding: 4px 13px 5px 13px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
.btn-sm, .btn-group-sm > .btn { font-size: 13px; padding: 7px 17px 7px 17px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
.btn-md, .btn-group-md > .btn { font-size: 15px; padding: 11px 25px 11px 25px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
.btn-lg, .btn-group-lg > .btn { font-size: 17px; padding: 13px 28px 14px 28px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
.btn-bold { font-weight: 500; }
.btnnew.btnnew-disabled { }
.btn-action { letter-spacing: .3px; font-size: 13px; padding: 10px 20px 10px 20px; }
.btn-clear { letter-spacing: .3px; font-size: 13px; padding: 7px 15px 7px 15px; }
.btn-clearblue { color: #fff; background: transparent; border: 2px solid rgba(255, 255, 255, 0.40); }
.btn-clearblue:hover, .btn-clearblue:focus, .btn-clearblue:active { color: #fff; background: #247bc5; border: 2px solid #247bc5; }
.close { -webkit-appearance: none; padding: 0; cursor: pointer; background: transparent; border: 0; }
.btn-green { color: #fff; background: #5dad70; }
.btn-green:hover, .btn-green:focus, .btn-green:active { color: #fff; background: #1a8f36; }
.btn-orange { color: #fff; background: #f78647; }
.btn-orange:hover, .btn-orange:focus, .btn-orange:active { color: #fff; background: #ff5e12; }
.btn-blue { color: #fff; background: #428bca; }
.btn-blue:hover, .btn-blue:focus, .btn-blue:active { color: #fff; background: #247bc5; }
.btn-lightblue { color: #333; background: #99bfe0; }
.btn-lightblue:hover, .btn-lightblue:focus, .btn-lightblue:active { color: #000; background: #598ab5; }
.btn-darkblue { color: #fff; background: #4d6e8a; }
.btn-darkblue:hover, .btn-darkblue:focus, .btn-darkblue:active { color: #fff; background: #3b556b; }
.btn-grey { color: #686868; background: #dadde0; }
.btn-grey:hover, .btn-grey:focus, .btn-grey:active { color: #000; background: #d0d4d8; }
.btn-darkgrey { color: #ddd; background: #777; }
.btn-darkgrey:hover, .btn-darkgrey:focus, .btn-darkgrey:active { color: #fff; background: #666; }
.btn-red { color: #fff; background: #b94a48; }
.btn-red:hover, .btn-red:focus, .btn-red:active { color: #fff; background: #8a312f; }
.btn-label { text-transform: none !important; margin-left: 4px; font-size: 12px; color: rgba(255, 255, 255, 0.7); }
/*back button*/
.btn-back { font-size: 13px; padding: 8px 18px 8px 18px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; line-height: 1.5; }
.btn-back:before { font-family: FontAwesome; font-weight: normal; content: "\f053"; position: relative; top: 1px; left: -8px; opacity: 0.5; }
/*f053*/
.btn-back:hover:before { opacity: 0.8; }
/*header action submit*/
.btn-header { font-size: 12px; padding: 8px 18px 8px 18px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; line-height: 1.5; margin-right: 15px; }
/*select files (upload)*/
.btn-selectfiles { text-transform: none !important; font-size: 12px; padding: 8px 13px 7px 19px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; color: #fff; background: #6e9ec4; height: auto !important; width: auto !important; line-height: 1.5 !important; }
.btn-selectfiles:before { font-family: FontAwesome; font-weight: normal; content: "\f067"; position: relative; top: 1px; left: -8px; opacity: 0.5; }
/*f067*/
.uploadify:hover .btn-selectfiles { color: #fff; background: #588bb2; }
.uploadify:hover .btn-selectfiles:before { opacity: 0.8; }
/*icon buttons*/
.btn-ico { -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; font-size: 14px; padding: 3px 12px 4px 12px; color: rgba(0, 0, 0, 0.7); background: rgba(213, 216, 219, 0.4); }
.btn-ico:hover, .btn-ico:focus, .btn-ico:active { color: rgba(0, 0, 0, 1); background: rgba(213, 216, 219, 1); }
.btn-ico:after { font-family: FontAwesome; font-weight: normal; content: "\f040"; position: relative; top: 0; }
.btn-ico.icoedit:after { content: "\f040"; }
.btn-ico.icodelete:after { content: "\f1f8"; }
.btn-ico.icorefresh:after { content: "\f01e"; }
/*arrow toggler*/
.btn-toggleresults { background: rgba(0, 0, 0, .1); color: #000; font-size: 12px; padding: 5px 9px 5px 9px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; position: absolute; top: 17px; right: 15px; margin-bottom: 0; }
.btn-toggleresults:hover, .btn-toggleresults:focus, .btn-toggleresults:active { color: #000; background: #fff; }
/*misc buttons*/
.btn-ico.redbg { background: #f1e2e2; color: #a94442; }
.btndemo p { margin-bottom: 5px; font-size: 12px; }
.btndemo .btn { margin-right: 10px; }
/*icon buttons*/
.ico-copy { display: inline-block; background: url('/img/icon/copy.png'); width: 16px; height: 16px; opacity: 0.4; }
.ico-copy:hover { opacity: 0.8; }
.faicon-outer { }
.faicon-copy { width: 18px; height: 18px; text-align: center; font-size: 12px !important; margin-left: 5px; color: #000; opacity: .5; padding: 0; }
.faicon-copy.hover { opacity: 0.9; }
.faicon-outer .zclip embed { position: relative; top: -4px; }

